<h1>Create User</h1>

<%= form_with(model: @listener_preference, url: listener_preferences_path, local: true) do |form| %>
  <%= render partial: 'form', listener_preference: @listener_preference, locals: { form: form } %>
<% end %>

<br>
<%= link_to "Back", listener_preferences_path %>
<%= render "footer" %>