<h1>Music Streaming Listener Preferences</h1>
<h2>User List</h2>

<div id="extra_data">
  <h3><a href="/listener_preference_by_genre">See top genres here</a></h3>
</div>
<br>
<div id="listener_preference">
    <table>
      <% @listener_preferences.each do |listener_preference| %>
        <tr>
          <td rowspan="20">
            <a href="/listener_preference/<%= listener_preference.user_id %>">
              <%= listener_preference.user_id %>
            </a>
          </td>
        </tr>
      <% end %>
  </table>
</div>